<html>
<head>
  <meta charset="UTF-8">
  <title>index</title>
</head>
<body>
  <p>
    <a class="btn btn-secondary" href="/template">Template</a>
  </p>
  <p>
    <a class="btn btn-secondary" href="/datafile">Datafile</a>
  </p>
  <p>
    <a href="https://github.com/nomlab/HABitatX/blob/main/README.md" target="_blank">How to use HABitatX</a>
  </p>
</body>
</html>