<h1 class="page-title">テンプレートを編集</h1>

<div class="container">
  <%= render "form", template: @template %>
</div>

<div class="action-links">
  <%= link_to "詳細を見る", @template, class: "button" %>
  <%= link_to "一覧に戻る", templates_path, class: "button secondary" %>
</div>
