[Unit]
Description=habitatx
Wants=network-online.target
After=network-online.target

[Service]
User=you
WorkingDirectory=/path/to/HABitatX
ExecStart=/path/to/launch.sh

Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target