[Unit]
Description=HABitatX Docker Compose Service (Development)
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/path/to/your/directory
EnvironmentFile=/path/to/your/file
ExecStart=/path/to/your/directory/launch.sh start
ExecStop=/path/to/your/directory/launch.sh stop

Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target