<div class="mb-4">
  <a class="btn btn-secondary" href="/datafile/new">Generate Datafile</a>
</div>
<ul>
  <% @datafile.each do |datafile| %>
    <li>
      <a class="btn btn-secondary" href="/datafile/<%= datafile["id"] %>"><%= CGI.escapeHTML(datafile["title_datafile"]) %></a>
    </li>
  <% end %>
</ul>
<div>
  <a class="btn btn-secondary" href="/">back to HABitatX</a>
</div>