<form action="/datafile" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="title_datafile" class="form-label">title</label>
    <input type="text" id="title_datafile" name="title_datafile" class="form-control">
  </div>
  <div class="mb-3">
    <label for="table" class="form-label">spreadsheet</label>
    <input type="file" id="table" name="table" accept=".xls,.xlsx" class="form-control">
  </div>
  <div>
    <a href="/datafile/download/items" class="btn btn-primary">Download Items spreadsheet</a>
  </div>
  <div>
    <a href="/datafile/download/things" class="btn btn-primary">Download Things spreadsheet</a>
  </div>
  <div class="mb-3">
    <label for="title_template" class="form-label">code</label>
    <select id="title_template" name="title_template" class="form-control">
      <option value="">code</option>
      <% @template.each do |template| %>
        <option value="<%= template["title_template"] %>"><%= template["title_template"] %></option>
      <% end %>
    </select>
  </div>
  <div>
    <input type="submit" value="submit" class="btn btn-primary">
  </div>
</form>
<div>
  <a class="btn btn-secondary" href="/datafile">back to Datafile</a>
</div>
