<div class="mb-4">
  <a class="btn btn-secondary" href="/template/new">Generate Template</a>
</div>
<ul>
  <% @template.each do |template| %>
    <li>
      <a class="btn btn-secondary" href="/template/<%= template["id"] %>"><%= CGI.escapeHTML(template["title_template"]) %></a>
    </li>
  <% end %>
</ul>
<div>
  <a class="btn btn-secondary" href="/">back to HABitatX</a>
</div>