<form action="/template" method="post">
  <div class="mb-3">
    <label for="title_template" class="form-label">title</label>
    <input type="text" id="title_template" name="title_template" class="form-control">
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">code</label>
    <textarea id="content" name="content" class="form-control"></textarea>
  </div>
  <div class="mb-3">
    <label for="basename" class="form-label">openHAB ID prefix</label>
    <input type="text" id="basename" name="basename" class="form-control">
  </div>
  <div class="mb-3">
    <label for="file_type" class="form-label">extension</label>
    <select id="file_type" name="file_type">
      <option value="items">items</option>
      <option value="things">things</option>
    </select>
  </div>
  <div class="mb-3">
    <p>template_things</p>
    <textarea class="form-control"><%= @template_things_content %></textarea>
  </div>
  <div class="mb-3">
    <p>template_items</p>
    <textarea class="form-control"><%= @template_items_content %></textarea>
  </div>
  <div>
    <input type="submit" value="保存" class="btn btn-primary">
  </div>
</form>
<div>
  <a class="btn btn-secondary" href="/template">back to Template</a>
</div>